
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}


<body class="bg-light">

    <div class="card mt-3 p-4">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">@Model.Channel.Name</h3>
                <h4 class="text-center">@Model.Category.Name</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="chat-messages" class="message-container mb-3">
                    <!-- Display chat messages here -->
                    @foreach (var message in Model.Messages)
                    {
                        <div class="d-flex flex-row justify-content-between border-top">
                            <div class="message-bubble p-2">
                                <strong><i class="bi bi-person"></i>@message.User.UserName:</strong> - <samall>@message.SentDate.ToString("hh:mm tt")</samall>
                                <p> @Html.Raw(message.Content) </p>
                            </div>
                            <div>
                                @if (ViewBag.isAuthority || ViewBag.currentUser == message.User)
                                {
                                    @using (Html.BeginForm("Delete", "Message", new { channelId = Model.Channel.Id, categoryId = Model.Category.Id, messageId = message.Id }, FormMethod.Post))
                                    {
                                        <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i>Delete</button>
                                    }
                                }

                                @if (ViewBag.currentUser == message.User && ViewBag.messageToEdit != message)
                                {
                                    <a class="btn btn-outline-primary btn-sm" href=@Url.Action("Edit", "Message", new { channelId = Model.Channel.Id, categoryId = Model.Category.Id, messageId = message.Id})><i class="bi bi-pencil-square"></i>Edit</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm(actionName: "Edit", controllerName: "Message",
                method: FormMethod.Post,
                routeValues: new { messageId = ViewBag.messageToEdit.Id }))
                {
                    <div class="input-group mb-3">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <input type="hidden" name="ChannelHasCategoryId" value=@Model.Id />
                        <input type="hidden" name="ChannelId" value=@Model.Channel.Id />
                        <input type="hidden" name="CategoryId" value=@Model.Category.Id />

                        <textarea type="text" class="form-control summernote" placeholder="Type your message..." name="Content">@Html.Raw(ViewBag.messageToEdit.Content)</textarea>
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})


                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" onclick="validateAndSubmitForm(event)">Send</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</body>
