@model Workplace_Collaboration.Models.Channel

<h2 class="text-center mt-5">Edit Channel</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Channel",
            method: FormMethod.Post,
            routeValues: new { id = Model.Id }))
            {
                @Html.Label("Name", "Channel Name")
                <br />
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Description", "Channel Description")
                <br />
                @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Categories", "Categories")
                @foreach (var cat in Model.ChannelHasCategories)
                {
                    <a class="ms-4 p-1 mb-2 bg-secondary text-black rounded-2 text-decoration-none d-block w-25 linkChaturi" style="--bs-bg-opacity: .4;" >
                        <i class="bi bi-hash"></i>@cat.Category.Name
                    </a>
                    <div class="ms-4 d-flex">
                        <div>
                            <a class="btn btn-outline-primary" href=""><i class="bi bi-pencil-square"></i>Edit</a>
                        </div>
                        <div>
                            <form method="post" action="">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>
                        </div>
                    </div>
                }
                <br/>
                <div>
                    <a class="btn btn-outline-primary" href=@Url.Action("New", "Category", new { channelId = @Model.Id})><i class="bi bi-pencil-square"></i>Add a category</a>
                </div>

                

                <br />

                <button class="btn btn-sm btn-success" type="submit">Modify Channel</button>

            }
        </div>
    </div>
</div>
