@model Workplace_Collaboration.Models.Channel
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div class="card">

    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>

        <div class="card-text">@Model.Description</div>

    </div>

    <div class="p-3 border-1 border-top">
        @foreach(var cat in Model.ChannelHasCategories)
        {
            <a class="ms-4 p-1 mb-2 bg-secondary text-black rounded-2 text-decoration-none d-block w-25 linkChaturi" style="--bs-bg-opacity: .4;" href="@Url.Action("Show", "Category", new { channelId = @Model.Id, categoryId = cat.Category.Id })">
                <i class="bi bi-hash"></i>@cat.Category.Name
            </a>

   
        }
    </div>

    <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

        @if (ViewBag.isAuthority)
        {
            <a class="btn btn-success" href="/Channel/Edit/@Model.Id">Edit Channel</a>
        }
        <a class="btn btn-info text-white" href="/Channel/ShowUsers/@Model.Id">Show Users</a>
        <form method="post" action="/Channel/Leave/@Model.Id">
            <button class="btn btn-danger" type="submit">Leave Channel</button>
        </form>
        @if (ViewBag.isAuthority)
        {
            <form method="post" action="/Channel/Delete/@Model.Id">
                <button class="btn btn-danger" type="submit">Delete Channel</button>
            </form>
        }
    </div>
</div>
