@model Workplace_Collaboration.Models.Category

<h2 class="text-center mt-5">Edit category</h2>
<br />

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div class="container mt-3">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "EditCategory", controllerName: "Category",
            method: FormMethod.Post,
            routeValues: new { channelId = ViewBag.ChannelId, categoryId = Model.Id}))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Name", "Category Name")
                <br />
                @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger"})

                <br />

                <button class="btn btn-success" type="submit">Modify Category</button>

            }

        </div>
    </div>
</div>